<nav id="navbar">
    <ul class="sidebar">
        <div class="logo">
            <img src="img/Logo Warriors.jpeg" alt="Logo-Warriors">
            <h2 class="side-nav-titulo">Warriors Esports</h2>
        </div>
        <li onclick=hideSidebar()><button class="x-button"></button></li>
        <li><a class="side-nav-titulo" href="http://localhost:3000">Inicio</a></li>
        <li><a class="side-nav-titulo" href="http://localhost:3000/Equipos">Equipos</a></li>
        <li><a class="side-nav-titulo" href="http://localhost:3000/Redes">Redes</a></li>
        <li><a class="side-nav-titulo" href="http://localhost:3000/Contenido">Contenido</a></li>
    </ul>
    <div class="navbar">
        <div class="logo">
            <img src="img/Logo Warriors.jpeg" alt="Logo-Warriors">
            <h2 class="nav-titulo">Warriors Esports</h2>
        </div>
        <ul>
            <li class="hideOnmobile"><a class="nav-titulo" href="http://localhost:3000">Inicio</a></li>
            <li class="hideOnmobile"><a class="nav-titulo" href="http://localhost:3000/Equipos">Equipos</a></li>
            <li class="hideOnmobile"><a class="nav-titulo" href="http://localhost:3000/Redes">Redes</a></li>
            <li class="hideOnmobile"><a class="nav-titulo" href="http://localhost:3000/Contenido">Contenido</a></li>
            <li class="Boton-SideBar" onclick=showSidebar()>
                <div class="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </li>
        </ul>
    </div>
</nav>