body {
    background-color: #f1af5d;
    margin: 0;
}


#Postulaciones {
    background-color: #cbcbcb;
    width: 95%;
    margin: 100px auto 20px auto;
    border-radius: 15px;
    padding: 10px;
}

.PostulacionesHTML {
    display: flex;
    justify-content: center; /* Centra las tarjetas */
    align-items: flex-start;
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    flex-wrap: wrap;
    gap: 30px; /* Espacio entre tarjetas */
    box-sizing: border-box;
}

.Post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Elimina m치rgenes excesivos */
    flex-basis: calc(33.333% - 20px); /* 3 tarjetas por fila con espacio entre ellas */
    border: 1px solid #f00;
    border-radius: 20px;
    background-color: #111111;
    padding: 20px;
    box-sizing: border-box; /* Asegura que padding y bordes se incluyan en el tama침o */
}

/* Media queries para hacer el dise침o responsive */
@media (max-width: 1092px) {
    .Post {
        flex-basis: calc(50% - 20px); /* 2 tarjetas por fila en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .Post {
        flex-basis: 100%; /* 1 tarjeta por fila en pantallas peque침as */
    }
}

.Post img {
    height: auto;
    width: 100px;
    margin: 20px 0;
    border: 2px solid #111111;
    border-radius: 50%;
}

.Post h2, .Post h3 {
    color: #f1af5d;
    font-size: 25px;
    margin: 10px 0;
    text-align: center;
}

.Post p {
    color: #ffffff;
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
}

.Requisitos {
    padding: 20px;
}

.btn-post {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    margin: 20px auto 0;
    background: linear-gradient(to right, #fab764, #f6a43e);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}



/* Esto @media nos permite que cuando un celular o tablet entre a la pagina, se oculte la navbar exceptuando el logo y el "abrir" de la side bar, asi solo se usa la side bar*/

@media(max-width: 1050px){  
    .Post button:hover {
        border: none;
        border-radius: 0;
        background-color: #111111;
        transform: scale(1.0);
    }
}